<% title "Did" %>

<p>
  <strong>User:</strong>
  <%=h @did.user_id %>
</p>
<p>
  <strong>Did:</strong>
  <%=h @did.did %>
</p>
<p>
  <strong>Service Type:</strong>
  <%=h @did.service_type_id %>
</p>
<p>
  <strong>State:</strong>
  <%=h @did.state %>
</p>

<p>
  <%= link_to "Edit", edit_did_path(@did) %> |
  <%= link_to "Destroy", @did, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", dids_path %>
</p>
